.list-item {
    font-size: 15px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}
.list-item:last-child {
    margin-bottom: 0;
}
.list-item p {
    margin: 0;
    max-width: 100%;
    width: 100%;
}
input[type="checkbox"] {
    margin-right: 10px;
}
.item {
    max-width: 100%;
    width: 100%;
}
.item.-active {
    text-decoration: line-through;
}
.item.-hidden {
    display: none !important;
}
.tempInput {
    font-size: 15px;
    display: none;
    max-width: 100%;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ddd;
    outline: none;
    padding: 0px 10px;
}
.tempInput.-show {
    display: block;
}
.btn-delete {
    margin-left: 10px;
    background-color: red;
    color: white;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 30px;
}
.-badge {
    display: inline-block;
    font-size: 8px;
    background-color: #ccc;
    margin: 0 3px;
    padding: 2px 4px;
    display: none;
}
.-badge.-fb {
    background-color: #17a2b8;
}
.-badge.-ls {
    background-color: #6c757d;
}
.-fb.-active,
.-ls.-active {
    display: inline-block;
}