#headerNav {
    background-color: #444;
}
#headerNav .list {
    margin: 0;
    padding: 0;
}
#headerNav .list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
#headerNav .list .link {
    padding: 5px 10px;
    margin: 2px;
    display: inline-block;
    background: #bbb;
 }