* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: auto;
  padding: 0;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.-top-bottom-gutter {
  /* margin-top: 30px; */
  /* margin-bottom: 30px; */
}

h1,h2,h3,h4,h5 {
  margin: 0;
  padding: 0;
}

.dashboard-home {
  text-align: left;
}

.align-left {
  text-align: left;
}

.page-title {
  text-align: center;
}